html {
   background-color: #241963;
   color: #b3a7f9;
}

body {
height: 1000px;
   margin: 0;
   padding: 0;
}

h1, p {
   text-align: center;
}


header.topmenu {
   position: fixed;
   width: 100%;
}

.topmenu div {
   background-color: #2e2463;
   width: 100%;
}

.topmenu ul {
   list-style-type: none;
   margin: 0;
   padding: 0;
   overflow: hidden;
}

.topmenu li {
   float: left;
}

.topmenu li a {
   background-color: #2e2463;
   display: block;
   text-align: center;
   text-decoration: none;
   padding: 5px 20px;
}

.topmenu li a:hover {
   background-color: #b3a7f9;
   color: #2e2463;
}

.topmenu li a#active {
   background-color: #b3a7f9;
   color: #2e2463;
}

a {
   text-decoration: none;
   color: #b3a7f9;
}
